<?xml version="1.0" encoding="UTF-8" ?>
<!--这个声明注释掉，我们自己解析该 XML 文件-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<mapper namespace="com.slz.project.mapper.StudentMapper">
    <select id="selectList" resultType="com.slz.project.model.Student">
        select * from student
    </select>
</mapper>