<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>
    <settings>
        <!--配置日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 打开二级缓存-->
<!--        <setting name="cacheEnabled" value="true"/>-->
        <!-- 打开延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <!-- 配置别名-->
<!--    <typeAliases>-->
<!--        <typeAlias type="com.slz.model.Student" alias="Student"></typeAlias>-->
        <!--别名就是类名，且不区分大小写-->
<!--        <package name="com.slz.dynamic.model"/>-->
<!--    </typeAliases>-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.user}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
<!--        <environment id="prod">-->
<!--            <transactionManager type=""></transactionManager>-->
<!--            <dataSource type=""></dataSource>-->
<!--        </environment>-->
<!--        <environment id="test">-->
<!--            <transactionManager type=""></transactionManager>-->
<!--            <dataSource type=""></dataSource>-->
<!--        </environment>-->
    </environments>
    <mappers>
<!--        <mapper resource="com/slz/mapper/StudentMapper.xml"></mapper>-->
        <package name="com.slz.useAnnotion.mapper"/>
<!--        <mapper class="slz.com.mapper.StudentMapper"></mapper>-->
    </mappers>
</configuration>

